absl-py
astor
awscli
bert-tensorflow
certifi
cort
docutils
future
gast
google-pasta
grpcio
h5py
html5lib
Jinja2
JPype1
Keras-Applications
Keras-Preprocessing
Markdown
MarkupSafe
mmh3
msgpack-python
numpy==1.21.0
Pillow
protobuf
psycopg2
pyasn1
pycparser
pyhocon
pyparsing
PyStanfordDependencies
python-dateutil
pytz
s3transfer
scikit-learn
scipy
six
tokenizer
tensorflow-io
tensorflow==1.14.0
tensorboard
tensorflow-estimator
tensorflow-gpu
termcolor
torch
torchvision
typing
Werkzeug
wrapt
